// blue button
.blue-btn{
  display:inline-block;
  padding: 10px 20px;
  color:$white;
  border-radius:20px;
  background-color: $mainblue;
  &:hover{
    background-color: $youtubeColor;
  }
}
// empty button
.empty-btn{
  display:inline-block;
  padding: 10px 20px;
  color:$white;
  border-radius:20px;
  border:1px solid $white;
  &:hover{
    background-color: $white;
    color:$black;
  }
}
// menu label
.new{
  color: $dark-grey;
  background-color: #FFF941;
  border-radius:5px;
  padding:5px;
  font-size:12px;
  margin-left:5px;
}
// play button
.play-btn{
  height:80px;
  width:80px;
  border-radius: 50%;
  background-color: $white;
  color:$mainblue;
  box-shadow: none;
  border:none;
  font-size:$text-xs;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}

// button back-to-top
.back-to-top {
  background-color:$textGrey;
  padding: 5px 15px;
  color:$white;
  position:fixed;
  bottom:0;
  right:50px;
  border:none;
  font-size:$text-s;
  border-radius:5px 5px 0 0;
  opacity:0.7;
}
