// MIX
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color:$textGrey;
}
// wave symbol
.wave{
  color:$yellow;
  transform: rotate(90deg);
  font-size:$text-m;
}

// container

.container{
  width:$midContainer;
  margin:0 auto;
}

// MIXIN

@mixin absolute-obj {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

// effects

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.hover-effect:hover .blog-img::after {
  background: rgb(70,19,160);
  background: linear-gradient(0deg, rgba(70,19,160,0.6222864145658263) 35%, rgba(0,0,0,0) 100%);
}

// mail validation

.error{
  color:red;
}
.success{
  color:green;
}

// display

.invisible{
  display:none;
}
