// MIX
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color:$textGrey;
}
// wave symbol
.wave{
  color:$yellow;
  transform: rotate(90deg);
  font-size:$text-m;
}
