// footer
footer{
  padding:80px;
  background-color: $dark-grey;
  color:$textGrey;
  .container{
    display:flex;
    justify-content: space-between;
    .box{
      width:calc((100% / 3) - 40px);
    }
    // social box
    .social{
      text-align: center;
      // logo layout
      .logo{
        width:200px;
        margin: 0 auto;
        img{
          width:100%;
        }
      }
      p{
        margin: $mg 0;
      }
      // layput icons
      .social-icons ul{
        display:flex;
        justify-content: center;
        list-style-type: none;
        li{
          padding:10px;
          a{
            color:$supTitle;
          }
        }
      }
    }

    // posts box

    .recent-post{
      text-align: center;
      padding:10px 0;
      h4{
        text-transform: uppercase;
        color:$white;
        font-size:$text-xs;
        margin-bottom:10px;
      }
      // posts
      ul li{
        list-style-type: none;
        padding: 10px 0;
        i{
          margin-right:5px;
        }
      }
    }

    // contact

    .contact{
      text-align: center;
      padding:10px 0;
      h4{
        text-transform: uppercase;
        color:$white;
        font-size:$text-xs;
        margin-bottom:10px;
      }
      p:first-of-type{
        margin:$mg 0;
        color:$lightGrey;
      }
      p{
        color:$white;
      }

    }
  }

}
