// hero
.hero{
  height:70vh;
  background-image: url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  // text hero + overlay
  .text-box{
    display:flex;
    align-items: center;
    height:100%;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(6,6,6,1) 58%);
    position:relative;
    // button hero
    .demos, .sale{
      position:absolute;
      right:20px;
      background-color:$white;
      border-radius:5px;
      height:60px;
      width:60px;
      font-size:$text-xs;
      display:flex;
      flex-direction: column;
      align-items:center;
      justify-content: flex-end;
      padding:5px;
      cursor: pointer;
    }
    .demos{
      top:20px;
      i{
        font-size:$text-s;
      }
    }
    .sale{
      top:90px;
      .price{
        color:#66BD84;
        font-size:$text-s;
      }
      p:last-of-type{
        font-size:12px;
      }
    }

    // layoyt text
    .text-hero{
      h2{
        color:$supTitle;
        font-size:$text-s;
      }
      h1{
        font-size:$text-l;
        color:$white;
        margin: $mg 0;
      }
      p{
        font-size:$text-xs;
        color:$textGrey;
        margin: $mg 0;
      }
      a{
        font-size:$text-xs;
        margin-right:10px;
      }
      // play button position
      .play-btn{
        position: absolute;
        top: 50%;
        right: 20%;
        transform: translateY(-50%)
      }
    }
  }
}
