// main

// features section
.features{
  height:500px;
  background: rgb(160,6,68);
  background: linear-gradient(310deg, rgba(160,6,68,1) 27%, rgba(70,19,160,1) 60%, rgba(66,87,239,1) 81%);
}
