// main

// features section
.features{
  background: rgb(160,6,68);
  background: linear-gradient(310deg, rgba(160,6,68,1) 27%, rgba(70,19,160,1) 60%, rgba(66,87,239,1) 81%);
  .box{
    width:$midContainer;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    position: relative;
    top: -50px;
    .box-img{
      width:calc((100% / 3) - 80px);
      border-radius: 5px 5px 40px 5px;
      position:relative;
      img{
        width:100%;
        height:100%;
        display: block;
        border-radius: 5px 5px 40px 5px;
      }
      .text-img{
        @include absolute-obj;
        border-radius: 5px 5px 40px 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: $pd;
        h3{
          color:$white;
        }
        p{
          color:$yellow;
        }
      }
    }
    .box-img:nth-of-type(2){
      margin: 0 40px;
    }
  }

  .cit{
    width:750px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
    p:first-of-type{
      font-size:$text-m;
      color:$white;
      text-align: center;
    }
    img{
      height:50px;
      width:50px;
      border-radius:50%;
    }
    img, span{
      vertical-align: middle;
    }
    span:first-of-type{
      color:$white;
      font-size:$text-xs;
      font-weight: bold;
      margin: 0 $mg;
    }
    span:last-of-type{
      color:$textGrey;
      font-size:$text-xs;
      font-weight: bold;
    }
  }


}


// youtube section

.youtube{
  display:flex;
  .yt-videos{
    position:relative;
    top:-50px;
    width:50%;
    height:600px;
    border-radius: 5px 5px 40px 5px;
    button{
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
    img{
      width:100%;
      height:100%;
      object-fit: cover;
      border-radius: 5px 5px 40px 5px;
    }
    &::before{
      content:"";
      display:block;
      @include absolute-obj;
      border-radius: 5px 5px 40px 5px;
    }

  }

  .yt-text{
    padding:50px;
    margin-left:80px;
    margin-top:80px;
    h3{
      color:$mainblue;
      font-size:$text-s;
    }
    h2{
      font-size:$text-l;
      color:$black;
      margin: $mg 0;
    }
    p{
      font-size:$text-xs;
      color:$textGrey;
      margin: $mg 0;
    }
    .youtube-btn{
      font-size:$text-xs;
      margin-right:10px;
      background-color: #FF0000;
      &:hover{
        background-color:$mainblue;
      }

    }
    .yt-icon{
      display:flex;
      align-items:center;
      img{
        height:30px;
      }
      p{
        margin:5px 10px;
      }
      p:first-of-type{
        font-size:10px;
      }
      span{
        color:$white;
        background-color:#FF0000;
        padding:2px;
        border:1px solid #FF0000;
        font-size:10px;
      }
      .views{
        background-color: $white;
        color:grey;
        border:1px solid lightgrey;
        margin-left: -4px;
        font-size:10px;
      }
    }
  }


}


// playlist section

.playlist{
  margin: 50px 0;
  .container{
    width:$midContainer;
    margin:0 auto;
  }
  .title-playlist{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:$mg;
    h4{
      font-size:$text-s;
    }
    a{
      font-size:$text-xs;
      color:$black;
    }
  }

  .videos-playlist{
    margin-top:$mg;
    display:flex;
    justify-content: space-between;
    .box-img{
      width:calc((100% / 3) - 40px);
      border-radius: 5px 5px 40px 5px;
      margin: $mg 0;
      .img-videos{
        position:relative;
        button{
          position:absolute;
          top:50%;
          left:50%;
          transform: translate(-50%, -50%);
          height:40px;
          width:40px;
          font-size:10px;
        }
      }
      img{
        width:100%;
        height:100%;
        object-fit: cover;
        display: block;
        border-radius: 5px 5px 40px 5px;
      }
      .text-img{
        text-align: center;
        h3{
          margin: 10px 0;
          font-size:$text-xs;
        }
        p{
          font-size:12px;
          color:$mainblue;
        }
      }

    }

  }
}

// mailing list section

.mailing-list{
  .mailing-hero{
    background-image: url('../img/banner.jpg');
    .container{
      width:$midContainer;
      margin: 0 auto;
    }
    .text-box .text-hero{
      margin-left:10%;
      width:60%;
      margin: 0 0;
      h2{
        font-size:$text-l;
        color:$white;
        margin: $mg 0;
      }
      h3{
        color:$text-m;
        color:$supTitle;
      }
      input{
        padding: 10px 20px;
        margin-right:$mg;
        width: 60%;
        border-radius:20px;
        box-shadow: none;
        border:none;
        &:focus{
          outline:none;
        }
      }
      a{
        padding:10px 50px;
      }
    }
  }

}


// box-icons section

.box-icons{
  padding: 70px 0;
  background-color: $dark-grey;
  .container{
    width:$midContainer;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    .box{
      width:calc((100% / 3) - 40px);
      height:500px;
      border: 4px solid $mainblue;
      border-radius:5px;
      padding:20px;
      color:$white;
      text-align: center;
      & > i{
        font-size:$text-l;
        margin: $mg 0;
      }
      h3{
        margin:10px 0;
      }
      h4{
        color:$yellow;
      }
      p{
        margin: 30px 0;
        color:$textGrey;
        font-size:$text-xs;
        line-height: 20px;
      }
      a{
        color:$white;
        font-size:$text-xs;
        i{
          margin-left:10px;
        }
      }



    }
  }
}
