// main

// features section
.features{
  background: rgb(160,6,68);
  background: linear-gradient(310deg, rgba(160,6,68,1) 27%, rgba(70,19,160,1) 60%, rgba(66,87,239,1) 81%);
  // 3 box container
  .box{
    width:$midContainer;
    height:350px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    position: relative;
    top: -50px;
    // layout single box
    .box-img{
      width:calc((100% / 3) - 80px);
      height:300px;
      border-radius: 5px 5px 40px 5px;
      position:relative;
      &:hover{
        height:310px;
      }
      // layout img
      img{
        width:100%;
        height:100%;
        object-fit: cover;
        display: block;
        border-radius: 5px 5px 40px 5px;
      }
      // text in the box
      .text-img{
        @include absolute-obj;
        border-radius: 5px 5px 40px 5px;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.8939950980392157) 14%, rgba(0,0,0,0.10407913165266103) 67%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: $pd;
        h3{
          color:$white;
          margin-bottom:5px;
        }
        p{
          color:$yellow;
        }
      }
    }
  }

  // text with quote
  .quote{
    width:750px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
    // quote
    p:first-of-type{
      font-size:$text-m;
      color:$white;
      text-align: center;
      line-height:46px;
    }
    svg{
      display:block;
      margin:0 auto;
    }
    // image author
    img{
      height:50px;
      width:50px;
      border-radius:50%;
    }
    img, span{
      vertical-align: middle;
    }
    span:first-of-type{
      color:$white;
      font-size:$text-xs;
      font-weight: bold;
      margin: 0 $mg;
    }
    span:last-of-type{
      color:$textGrey;
      font-size:$text-xs;
      font-weight: bold;
    }
  }

}


// youtube section

.youtube{
  display:flex;
  // left video
  .yt-videos{
    position:relative;
    top:-50px;
    width:50%;
    height:600px;
    border-radius: 5px 5px 40px 5px;
    // play button
    button{
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
    img{
      width:100%;
      height:100%;
      object-fit: cover;
      border-radius: 5px 5px 40px 5px;
    }
    // overlay
    &::before{
      content:"";
      display:block;
      @include absolute-obj;
      border-radius: 5px 5px 40px 5px;
      background-color: #00000054;
    }

  }
  // right text
  .yt-text{
    padding:50px;
    margin-left:80px;
    margin-top:80px;
    h3{
      color:$mainblue;
      font-size:$text-s;
    }
    h2{
      font-size:$text-l;
      color:$black;
      margin: $mg 0;
    }
    p{
      font-size:$text-xs;
      color:$textGrey;
      margin: $mg 0;
    }
    .youtube-btn{
      font-size:$text-xs;
      margin-right:10px;
      background-color: $youtubeColor;
      &:hover{
        background-color:$mainblue;
      }

    }
    // youtube icon + view
    .yt-icon{
      display:flex;
      align-items:center;
      img{
        height:30px;
      }
      p{
        margin:5px 10px;
      }
      p:first-of-type{
        font-size:10px;
      }
      span{
        color:$white;
        background-color:$youtubeColor;
        padding:2px;
        border:1px solid $youtubeColor;
        font-size:10px;
      }
      .views{
        background-color: $white;
        color:grey;
        border:1px solid lightgrey;
        margin-left: -4px;
        font-size:10px;
      }
    }
  }

}


// playlist section

.playlist{
  margin: 50px 0;
  // title section + link
  .title-playlist{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:$mg;
    h4{
      font-size:$text-s;
    }
    a{
      font-size:$text-xs;
      color:$black;
    }
  }

  .videos-playlist{
    margin-top:$mg;
    display:flex;
    justify-content: space-between;
    // box img + text
    .box-img{
      width:calc((100% / 3) - 40px);
      border-radius: 5px 5px 40px 5px;
      margin: $mg 0;
      // box video
      .img-videos{
        position:relative;
        // play button
        button{
          position:absolute;
          top:50%;
          left:50%;
          transform: translate(-50%, -50%);
          height:40px;
          width:40px;
          font-size:10px;
        }
      }
      img{
        width:100%;
        height:100%;
        object-fit: cover;
        display: block;
        border-radius: 5px 5px 40px 5px;
      }
      // text under video
      .text-img{
        text-align: center;
        h3{
          margin: 10px 0;
          font-size:$text-xs;
        }
        p{
          font-size:12px;
          color:$mainblue;
        }
      }

    }

  }
}

// mailing list section

.mailing-list{
  // section with hero style
  .mailing-hero{
    background-image: url('../img/banner.jpg');
    // text layout
    .text-box .text-hero{
      margin-left:10%;
      width:60%;
      margin: 0 0;
      h2{
        font-size:$text-l;
        color:$white;
        margin: $mg 0;
      }
      h3{
        color:$text-m;
        color:$supTitle;
      }
      svg{
        display:block;
        margin: $mg 0;
      }
      // mail input + button
      input{
        padding: 10px 20px;
        margin-right:$mg;
        width: 60%;
        border-radius:20px;
        box-shadow: none;
        border:none;
        &:focus{
          outline:none;
        }
      }
      a{
        padding:10px 50px;
      }
      p{
        line-height:30px;
      }
    }
  }

}


// box-icons section

.box-icons{
  padding: 70px 0;
  background-color: $dark-grey;
  .container{
    display:flex;
    justify-content: space-between;
    // single box
    .box{
      width:calc((100% / 3) - 40px);
      height:500px;
      border: 4px solid $mainblue;
      border-radius:5px;
      padding:20px;
      color:$white;
      text-align: center;
      
      // icon layout
      & > i{
        font-size:$text-l;
        margin: $mg 0;
      }
      h3{
        margin:10px 0;
      }
      h4{
        color:$yellow;
      }
      p{
        margin: 30px 0;
        color:$textGrey;
        font-size:$text-xs;
        line-height: 20px;
      }
      a{
        color:$white;
        font-size:$text-xs;
        i{
          margin-left:10px;
        }
      }
    }
  }
}

// article section

.article{
  .container{
    // playlist style section
    .videos-playlist{
      .img-videos{
        border-radius:none;
        img{
          border-radius:0 0 0 0;
        }
      }
      // text layout
      .text-img{
        padding: $pd;
        text-align: left;
        p{
          color:$textGrey;
        }
      }
    }
  }

}

// motivational section

.motivational{
  background-image: url('../img/banner2.jpg');
  background-position: center;
  background-size: cover;
  height:70vh;
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  // overlay
  &::after{
    content:"";
    display:block;
    @include absolute-obj;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.26934523809523814) 0%, rgba(0,0,0,0.7987570028011204) 66%);
  }
  // text box
  .container{
    width:50%;
    text-align:center;
    color:$white;
    z-index:1;
    p:first-of-type{
      font-size:$text-m;
    }
    svg{
      margin:$mg 0;
    }
    p:last-of-type{
      font-size:$text-xs;
      margin-bottom:$mg;
    }
  }
}

// gym section

.gym{
  padding:80px 0;
  // 3 box content
  .gym-box{
    display:flex;
    justify-content: space-between;
    // single box
    .box{
      width:calc((100% / 4) - 40px);
      height:200px;
      text-align:center;
      // sponsor image
      .sponsor-img{
        width:50%;
        margin:0 auto;
        img{
          width:100%;
        }
      }
      // text layout
      p{
        font-size:$text-xs;
        color:$textGrey;
      }
      a{
        font-size:$text-xs;
        color:$black;
        margin-top: $mg;
        display:inline-block;
      }
      i{
        margin-left:5px;
      }
    }
  }
}

// crossfit section

.crossfit{
  display:flex;
  justify-content: center;
  align-items: center;
  height:70vh;
  background-image: url('../img/banner3.jpg');
  background-position: center;
  background-size: cover;
  position:relative;
  // overlay
  &::after{
    content:"";
    display:block;
    @include absolute-obj;
    background: rgb(25,0,70);
    background: linear-gradient(140deg, rgba(25,0,70,0.6867121848739496) 75%, rgba(138,0,57,0.6474964985994398) 90%);
  }
  // text box
  .box{
    z-index:1;
    text-align: center;
    // text layout
    h3{
      font-size:$text-m;
      color:$white;
      margin:$mg 0;
    }
    p{
      color:$yellow;
      font-size:$text-s;
      margin:$mg 0;
    }
    a{
      color:$white;
      font-size:$text-xs;
    }
    button{
      height:60px;
      width:60px;
    }
  }
}
