// container

$midContainer: 1080px;


// color

$dark-grey: #060606;
$white: #fff;
$black:#000;
$mainblue: #4154fe;
$lightRed: #ec5a57;
$yellow:#FFF941;
$lightGrey:#bcbcbc;
$youtubeColor: #41C457;

// text

$text-l:46px;
$text-m:32px;
$text-s:24px;
$text-xs:14px;
$textGrey: #78787a;
$supTitle: #bc0428;

// measures

$pd:20px;
$mg: 20px;


// responsive

$screen-s:600px;

$screen-m: 800px;

$screen-l: 1200px;
