// container

$midContainer: 1080px;


// color

$dark-grey: #060606;
$white: #fff;
$mainblue: #4154fe;

// text

$text-l:46px;
$text-m:32px;
$text-s:24px;
$text-xs:14px;
$textGray: #78787a;


// measures


$mg: 20px;
