// container

$midContainer: 1080px;


// color

$dark-grey: #060606;
$white: #fff;
$black:#000;
$mainblue: #4154fe;
$lightRed: #ec5a57;

// text

$text-l:46px;
$text-m:32px;
$text-s:24px;
$text-xs:14px;
$textGray: #78787a;
$supTitle: #bc0428;

// measures


$mg: 20px;
